.lamps {
text-align: center;
width: 100%;
height: 180px;
padding-top: 1rem;
margin: 0;
position: relative;
z-index: 2;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
background: #F2F2F2;
}

.lamps li {
text-transform: uppercase;
width: 2.5em;
color: #777;
box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
padding: 0.5em 0;
font-size: 2em;
display: inline-block;
margin: 0 0.5em 1em;
}

.lamps li.space {
display: block;
height: 0;
width: auto;
margin: 0;
padding: 0;
border: none;
}

.lamps li.active {
text-shadow: 0 0 20px #FFD700;
color: #FFD700;
}

.rotors {
border-radius: 0.5rem;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
border: 0.5rem solid rgba(0, 0, 0, 0.3);
text-align: center;
background: linear-gradient(to bottom, #FFF 0%, #EEE 100%);
position: relative;
height: 12rem;
padding: 4rem 0 0 2.5rem;
margin: 1.5rem auto;
width: 26rem;
font-size: 0;
}

.rotors:before {
content: '...';
position: absolute;
color: #333;
letter-spacing: 0.8rem;
text-align: center;
font-size: 1.75rem;
line-height: 0;
width: 100%;
left: 0.625rem;
top: -2.5rem;
}

.rotors .set {
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);
position: absolute;
right: 1.5rem;
top: 50%;
background: #777;
border: none;
box-shadow: none;
line-height: 1;
color: #FFF;
border-radius: 50%;
width: 2.5rem;
height: 2.5rem;
font: inherit;
font-size: 1rem;
cursor: pointer;
transition: 300ms all;
opacity: 0;
visibility: hidden;
}

.rotors .set:hover {
background: #999;
}

.rotors .cog {
vertical-align: middle;
transition: 250ms background-position;
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);
content: '';
position: absolute;
height: 8rem;
width: 1rem;
margin: 0 0 0 -1.5rem;
top: 50%;
}

.rotors .run+.cog {
background-position: 0 3px;
}

.rotors input {
vertical-align: middle;
box-shadow: inset 0 2px 4px #DDD;
background: linear-gradient(to bottom, #F9F9F9 0%, #FFF 100%);
height: 2.75rem;
border-bottom: 0.25rem solid #444;
padding: 0 0.25rem;
display: inline-block;
border: none;
width: 2.5rem;
text-align: center;
font: inherit;
font-size: 1.125rem;
margin: 0 3rem 0 0;
}

.rotors input:focus~.set {
opacity: 1;
visibility: visible;
}

@media screen and (max-width: 630px) {
.rotors {
width: 90%;
}
}

@media screen and (max-width: 400px) {
.rotors {
padding-left: 3%;
}

.rotors input {
margin-right: 2.5rem;
}

.rotors input:last-child {
margin-right: 0;
}
}

@media screen and (max-width: 330px) {
.rotors {
padding-left: 0;
}
}




